body {
    margin: auto !important;
    max-width: 880px;
    background-size: 100% 100%;
    background-attachment:fixed;
}

/* static/css/style.css */
.modal-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
}

.background-thumbnail {
  width: 100%;
  cursor: pointer; /* 表明这是可以点击的项目 */
  transition: transform 0.3s ease;
}

.background-thumbnail:hover {
  transform: scale(1.05);
}
  

.background-btn {
  position: fixed; /* 固定定位 */
  top: 10px;      /* 距离顶部10像素 */
  right: 10px;    /* 距离右侧10像素 */
  z-index: 1000;  /* 确保按钮在最上层 */
}
