/* 页面整体 */
body {
    margin: auto !important;
    max-width: 880px;
    background-image: url('images/bg.jpg');
    background-size: 100% 100%;
    background-attachment:fixed;
}

/* 页脚 */
footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

/* 头像 */
.avatar {
    width: 100px;
}

/* 电影列表 */
.movie-list {
    list-style-type: none;
    padding: 0;
}

.movie-list li {
    height: 480px;
    padding: 12px 24px;
    margin-top: 20px;
    border-bottom: 1px solid #0da5d4;
    border-top: 1px solid #ace9ef;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.movie-list li:last-child {
    border-bottom:none;
}

.movie-list li:hover {
    background-color: rgba(14, 88, 64, 0.3);
    
}

/* 女孩图片 */
.girl2 {
    display: block;
    margin: 0 auto;
    height: 120px;
}

a {
    color: green;
    font-size: 14px
}

.basenavstyle{
    
    height: 40px;
    width: 880px;
    background-color: rgba(43, 155, 175, 0.853);
    margin: 15px auto;
    
}

nav ul {
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


nav li {
    float: left;
}

nav li a {
    
    font-size: 20px;
    display: block;
    color: #04161a;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #b68395;
}

.float-right {
    float: right;
}

.imdb {
   
    color: black !important;
    text-decoration: none;
    background: #f5c229 !important;
    width: 80px !important;
 
}

.douban {
 
    background: #19d205 !important;
    color: black !important;

 
}

input {
    background-color: transparent;
}


input[type=text] {
    border: 1px solid #023e42;
    color: rgb(22, 22, 21);
}

input[name=year] {
    width: 80px;
    margin-right: 10px;
}

input[name=title] {
    width: 160px;
}

input[name=poster]{
    width: 240px;
}

input[name=edit_year] {
    width: 50px;
    color: rgb(26, 25, 24);
}

input[name=edit_title] {
    width: 240px;
    color:rgb(23, 22, 22);
}

input[name=edit_poster]{
    width: 580px;
    color: rgb(22, 22, 21);
}

input[name=edit_review]{
    display: none;;
    
}

.btn {
    display: inline-block;
    background-color: transparent;
    font-size: 12px;
    padding: 3px 5px;
    text-decoration: none;
    cursor: pointer;
    /* background-color: rgb(27, 155, 214); */
    color: white;
    border: 1px solid #555555;
    border-radius: 5px;
    text-align: center;
    width: 55px;
    margin: 0 5px;
}

.btn:hover {
    text-decoration: none;
    background-color: rgb(14, 170, 232);
    color: white;
    border: 1px solid black;
}

.alert {
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
    
}

.inline-form {
    display: inline;
}

input::-webkit-input-placeholder {
    color: #054617ae;
}

.split-text {
    display: flex;
    justify-content: space-between;
  }

.split-text p:nth-child(1){
    text-align: left;

}

.split-text p:nth-child(2){
    text-align: right;

}
.poster {
    height: 380px;
    width: 280px;
}

.show{
    display:flex;
}

.show a {
    flex: 1;
    margin: 0 20px 0 0;
}   

.show p {
    flex: 2;
}

#player {
    position:fixed;
    bottom: 500px;
    right: 120px;
    z-index: 1000; /* 确保按钮在其他内容上方 */
}

.addmovie{
    display:flex;
    justify-content: center;
    
}

.note-editable {
    color: aqua;
}

.comment-list {
    list-style-type: none;
    padding: 0;
    
}

.comment-list li {
    margin-top: 10px;
    height: 240px;
    padding: 12px 24px;
    border-bottom: 3px solid rgb(7, 120, 226);
    border-top: 2px solid #d7e7f8;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}

.comment-list li:last-child {
    border-bottom:none;
}

.comment-list li:hover {
    background-color: rgba(14, 88, 64, 0.3);
    
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    width: 120px;
}

#content {
    display: none;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    width: 80px;
}
