{% extends 'base.html' %}
{% block head %}
{{super()}}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script src="{{ url_for('static', filename='edit.js') }}" defer></script>
{% endblock %}
{% block content %}
<h3>Edit item</h3>
<ul class="movie-list">
    <li>
        <div class="split-text">
            <p>{{ movie.title }} - {{ movie.year }}</p>
            <p> 添加时间: {{movie.time.strftime("%Y-%m-%d %H:%M:%S")}}</p>
        </div>
        <div >
            <section class="show">
                <a href="{{url_for('detail', movie_id=movie.id)}}"><img src="{{movie.poster}}" alt="tt" class='poster'></a>
                <p name="review">{{movie.review}}</p>
            </section>
        </div>
        <div>
            <span class="float-right">
                <a class="imdb btn btn-primary btn-md" href="https://www.imdb.com/find?q={{ movie.title }}" target="_blank" title="Find this movie on IMDb" rel="noopener">IMDb</a>
                <a class="douban btn btn-primary btn-md" href="https://movie.douban.com/subject_search?search_text={{ movie.title }}" target="_blank" title="Find this movie on Douban" rel="noopener">豆&nbsp;瓣</a>
            </span>
        </div>
    </li>
</ul>
<form method="post">
    <p><label for="title">Title:</label></p>
    <p><input type="text" name="edit_title" autocomplete="off"  id='title' required value="{{ movie.title }}"></p>
    <p><label for="year">Year:</label></p>
    <p><input type="text" name="edit_year" autocomplete="off" id='year' required value="{{ movie.year }}"></p>
    <p><label for="poster">poster:</label></p>
    <p><input type="text" name="edit_poster" autocomplete="off" id='poster' required value="{{ movie.poster }}"></p>
    <p><label for="review">review:</label></p>
    <p><input type="text" name="edit_review" autocomplete="off" id='review' required ></p> 
    <input id="summernote"  color='wheat';></input>
    <p><input class="btn btn-primary btn-md" type="submit" name="edit_submit" value="Update" id="submit_review"></p>  
</form>

{% endblock %}